.home{
    text-align: center;
    font-size: 60px;
}
.about{
    text-align: center;
    font-size: 30px;
    color: darkslategray;
}
.btn1 {
    -webkit-border-radius: 28;
    -moz-border-radius: 28;
    border-radius: 28px;
    font-family: Arial;
    color: #ffffff;
    font-size: 20px;
    background: #4e5254;
    padding: 9px 11px 9px 13px;
    text-decoration: none;
  }
  
  .btn1:hover:hover {
    background: #aeafb0;
    text-decoration: none;
  }
.button{
    padding:30px;
}
